registry=https://datacolorvsts.pkgs.visualstudio.com/Frontend/_packaging/datacolor-frontend-feed/npm/registry/ 
                        
always-auth=true

; begin auth token
//datacolorvsts.pkgs.visualstudio.com/Frontend/_packaging/datacolor-frontend-feed/npm/registry/:username=datacolorVSTS
//datacolorvsts.pkgs.visualstudio.com/Frontend/_packaging/datacolor-frontend-feed/npm/registry/:_password=RGdITnFZZnZ6NzNaTElHUjU3MUtyWm5EVVdXeWdhSlJ0emt6alNVOUs1RkNGTVJUalNQd0pRUUo5OUJCQUNBQUFBQUE0bHVGQUFBU0FaRE9jWGZS
//datacolorvsts.pkgs.visualstudio.com/Frontend/_packaging/datacolor-frontend-feed/npm/registry/:email=eferrari@datacolor.com
//datacolorvsts.pkgs.visualstudio.com/Frontend/_packaging/datacolor-frontend-feed/npm/:username=datacolorVSTS
//datacolorvsts.pkgs.visualstudio.com/Frontend/_packaging/datacolor-frontend-feed/npm/:_password=RGdITnFZZnZ6NzNaTElHUjU3MUtyWm5EVVdXeWdhSlJ0emt6alNVOUs1RkNGTVJUalNQd0pRUUo5OUJCQUNBQUFBQUE0bHVGQUFBU0FaRE9jWGZS
//datacolorvsts.pkgs.visualstudio.com/Frontend/_packaging/datacolor-frontend-feed/npm/:email=eferrari@datacolor.com
; end auth token